{% extends "accounts/account_dashboard.html" %}
{% load i18n %}

{% block head %}
    <title>{% trans 'accounts-password' %}</title>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="">{% trans 'Edit Password' %}</a></li>
{% endblock  %}


{% block dashboard_content %}
    <div class="container-basic">
        <form class="" method="post">
            {% csrf_token %}
            {% if success %}
            <p>{% trans 'Your Password was updated with success' %}</p>
            {% endif %}
            <fieldset>
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <div class="container-oneline">
                    <button type="submit" class="btn btn-primary">{% trans 'Edit Password' %}</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}