{% extends "base.html" %}
{% load i18n %}

{% block head %}
    <title>{% trans 'accounts-password_reset' %}</title>
{% endblock %}

{% block breadcrumb %}
        <li><a href="{% url 'core:home' %}">{% trans 'Home' %}</a></li>
        <li><a href="">{% trans 'Change Password' %}</a></li>
{% endblock %}

{% block content %}
    <div class="container-margin">
        {% if success %}
            <p>{% trans 'An email was sent to you with more details on how to create a new password.' %} </p>
        {% else %}
        <h2>Informe seu E-mail</h2>
        <form class="container-basic" method="post">
            {% csrf_token %}
            <fieldset>
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <div class="container-oneline">
                    <button type="submit" class="btn btn-primary">{% trans 'Send' %}</button>
                </div>
            </fieldset>
        </form>
        {% endif %}
    </div>
{% endblock %}