{% extends "base.html" %}
{% load i18n %}

{% block head %}
    <title>{% trans 'Register' %}</title>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'core:home' %}">{% trans 'Home' %}</a></li>
    <li><a href="">{% trans 'Your Informations' %}</a></li>
{% endblock %}

{% block content %}
    <div class="container-margin">
        <form class="container-basic" method="post">
            <h1>Fill your informations</h1>
            {% csrf_token %}
            <fieldset>
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div>
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <div class="container-oneline">
                    <button type="submit" class="btn btn-primary">{% trans 'Register' %}</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

