{% extends "courses/course_dashboard.html" %}
{% load i18n %}

{% block head %}
    <title>{% trans 'Courses-Announcements' %}</title>
{% endblock %}

{% block breadcrumb %}
        {{ block.super }}
        <li><a href="{% url 'courses:announcements' course.slug %}">{% trans 'Advertise' %}</a></li>
{% endblock  %}

{% block dashboard_content %}
    {% for announcement in announcements %}
        <div class="well">
            <h2>
                <a href="{% url 'courses:announcement_detail' course.slug announcement.pk %}">{{ announcement.title }}</a>
            </h2>
            {{ announcement.content|linebreaks }}
            <p>
                <a href="{% url 'courses:announcement_detail' course.slug announcement.pk %}#comments">
                    <i class="fa fa-comments-o"></i>
                    <!-- abaixo comments_count é uma variavel disponivel apenas dento do with com o valor da
                         contagem de comentarios referentes ao anuncio. Onde no announcement.comments temos
                         announcement como a tabela, e o comments é o related name da tabela relacionado aos comentarios -->
                    {% with comments_count=announcement.comments.count %}
                       {{ comments_count }} {% trans 'Comment'%}{{ comments_count|pluralize }}
                    {% endwith %}
                </a>
            </p>
        </div>
    {% empty %}
        <div class="well">
            <h2>{% trans 'No announcement for that course' %}</h2>
        </div>
    {% endfor %}
{% endblock %}
