{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    <title>{% trans 'Course-AddCourse' %}</title>
{% endblock %}

{% block breadcrumb %}
        <li><a href="{% url 'core:home' %}">{% trans 'Home' %}</a></li>
        <li><a href="{% url 'courses:category_list' %}">{% trans 'Categories List' %}</a></li>
        <li><a href="">{% trans 'Add Course to Category '%}</a></li>
        <li><a href="">{{ category.name }}</a></li>
{% endblock  %}

{% block content %}
   	<h1>{% trans 'Add a course' %}</h1>
    <!-- Importante: Para imagem sempre incluir enctype abaixo -->
    <form id="course_form" method="post" enctype="multipart/form-data" action="/course/course_add/{{category.slug}}/">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <input type="submit" name="submit" value="{% trans 'Create Course' %}" />
    </form>
{% endblock %}

{% block localscript %}
  	<script>
    	$(document).ready(function() {
        	$('.datepicker').datepicker(
            	{
                	format: "mm/dd/yyyy",
                	todayBtn: "linked",
                	autoclose: true,
                	todayHighlight: true
            	}
        	);

    	});
  	</script>
{% endblock %}